<div>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="panel">Inicio</a>
        </li>
        <li>
            <a ui-sref="panel.auditorias" >Auditorias</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> Auditorias</h2>

                <div class="box-icon">
                    <!--
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                    -->
                </div>
            </div>
            <div class="box-content row">
                

            </div>
        </div>
    </div>
</div>


<button ng-click="vercrearauditorias()">Crear</button>

    <div ng-show="vermostrandocrarauditorias">
         <form ng-submit="Insertentidadauditoria(auditoria_crear)">
           <input type="text" placeholder="Fecha " ng-model="auditoria_crear.fecha">
            <input type="text" placeholder="Hora" ng-model="auditoria_crear.Hora">
            <input type="text" placeholder="entidad" ng-model="auditoria_crear.entidad">
            <input type="submit" name="" value="Crear Usuario">
        </form>
    </div>



<table class="table">
  <thead>


    <tr >
      <th scope="col">ID </th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Entidad</th>

    </tr>


    <tr ng-repeat="auditoria in auditorias">
      
      <td>{{auditoria.rowid}}</td>
      <td>{{auditoria.fecha}}</td>
      <td>{{auditoria.hora}}</td>
      <td>{{auditoria.entidad}}</td>
     
      <td scope="col" class="btn btn-primary" href="" ng-click="veractuauditoria(auditoria)">Modificar</td>
      <td scope="col" class="btn btn-danger" href="" ng-click="elimninaradutiroiar(auditoria)" >X</td>
    </tr>
  </thead>
  <tbody>
    
    
  
   
  </tbody>
</table>


<div ng-show="modusers">
    <h2>Modificar Auditoria</h2>
    <form ng-submit="actusersauditoria(auditoria_editars)">
      <input type="text" placeholder="Nombre" ng-model="auditoria_editars.fecha">
      <input type="text" placeholder="apellidos" ng-model="auditoria_editars.hora">
      <input type="text" placeholder="sexo" ng-model="auditoria_editars.entidad">
      <input type="submit" name="" value="Actualizar Auditoria">
    </form>
  </div>
            
          