<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="panel">Inicio</a>
        </li>
        <li>
            <a ui-sref="panel.entidades" >Entidades</a>
        </li>
    </ul>
</div>




<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> Entidades</h2>

                <div class="box-icon">
                    <!--
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                    -->
                </div>
            </div>
            <div class="box-content row">
                

            </div>
        </div>
    </div>
</div>

<button ng-click="crearI()">Crear</button>
    <div ng-show="vercrear">
        <form ng-submit="Insertentidad(entidad_crear)">
            <input type="text" placeholder="nombre" ng-model="entidad_crear.nombres">
            <input type="text" placeholder="alias" ng-model="entidad_crear.alias">
            <input type="text" placeholder="pastor" ng-model="entidad_crear.pastor">
            <input type="text" placeholder="celular" ng-model="entidad_crear.celular">
            <input type="submit" name="" value="Crear entidad">
        </form>
    </div>



  

<table class="table">
  <thead>


    <tr >
      <th scope="col">ID </th>
      <th scope="col">Nombre</th>
      <th scope="col">Alias</th>
      <th scope="col">Pastor</th>
      <th scope="col">celular</th>
    


    </tr>
  </thead>
  <tbody>
    
    <tr ng-repeat="entidad in entidades">
      
      <td>{{entidad.rowid}}</td>
      <td>{{entidad.nombres}}</td>
      <td>{{entidad.alias}}</td>
      <td>{{entidad.pastor}}</td>
      <td>{{entidad.celular}}</td>
      <td scope="col" class="btn btn-primary" href="" ng-click="modentidad(entidad)">Modificar</td>
      <td scope="col" class="btn btn-danger" href="" ng-click="eliminarentidad(entidad)" >X</td>
    </tr>


  
   
  </tbody>
</table>
<div ng-show="modentidades">
    <h2>Modificar auditoria</h2>
    <form ng-submit="actuentidad(entidad_editar)">
      <input type="text" placeholder="Nombre" ng-model="entidad_editar.nombres">
      <input type="text" placeholder="Alias" ng-model="entidad_editar.alias">
      <input type="text" placeholder="Pastor" ng-model="entidad_editar.pastor">
      <input type="text" placeholder="celular" ng-model="entidad_editar.celular">
      <input type="submit" name="" value="Actualizar Entidad">
    </form>
  </div>


