<div>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="panel">Inicio</a>
        </li>
        <li>
            <a ui-sref="panel.preguntas" >respuestas</a>
        </li>
    </ul>
</div>




<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> Respuestas</h2>

                <div class="box-icon">
                    <!--
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                    -->
                </div>
            </div>
            <div class="box-content row">
                

            </div>
        </div>
    </div>
</div>


<button ng-click="vercreandorespuestas()">Crear</button>

    <div ng-show="vercradasdrepsuestas">
         <form ng-submit="insertandorespuesats(respuesta_insertar)">
            <input type="text" placeholder="pregunta ID" ng-model="respuesta_insertar.pregunta_id">
            <input type="text" placeholder="AUDITORIA id" ng-model="respuesta_insertar.auditoria_id">
            <input type="text" placeholder="Respuestas" ng-model="respuesta_insertar.respuestas">
            
            <input type="submit" name="" value="Crear respuesta">
        </form>
    </div>


<table class="table">
  <thead>


    <tr >
      <th scope="col">ID </th>
      <th scope="col">pregunta ID</th>
      <th scope="col">Auditoria ID</th>
      <th scope="col">Respuestas</th>
    


    </tr>


    <tr ng-repeat="respuesta in respuestas">
      
      <td>{{respuesta.rowid}}</td>
      <td>{{respuesta.pregunta_id}}</td>
      <td>{{respuesta.auditoria_id}}</td>
      <td>{{respuesta.respuestas}}</td>
     
      <td scope="col" class="btn btn-primary" href="" ng-click="veractuausers(respuesta)">Modificar</td>
      <td scope="col" class="btn btn-danger" href="" ng-click="elimninarespuestas(respuesta)" >X</td>
    </tr>
  </thead>
  <tbody>
    
    


  
   
  </tbody>
</table>


<div ng-show="mostrarrespuesta">
    <h2>Modificar usuario</h2>
    <form ng-submit="acrepuasd(respuesta_actua)">
      <input type="text" placeholder="pregunta id" ng-model="respuesta_actua.pregunta_id">
      <input type="text" placeholder="auditoria id" ng-model="respuesta_actua.auditoria_id">
      <input type="text" placeholder="respuestas" ng-model="respuesta_actua.respuestas">
      <input type="submit" name="" value="Actualizar respuestas">
    </form>
  </div>