<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="panel">Inicio</a>
        </li>
        <li>
            <a ui-sref="panel.usuarios" >usuarios</a>
        </li>
    </ul>
</div>



<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> Usuarios</h2>

                <div class="box-icon">
                    <!--
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                    -->
                </div>
            </div>
            <div class="box-content row">
                

            </div>
        </div>
    </div>
</div>



<button ng-click="vercreandousuario()">Crear</button>

    <div ng-show="verusuariocreado">
         <form ng-submit="Insertenderusuario(usuario_crear)">
            <input type="text" placeholder="nombre" ng-model="usuario_crear.nombres">
            <input type="text" placeholder="apellidos" ng-model="usuario_crear.apellidos">
            <input type="text" placeholder="sexo" ng-model="usuario_crear.sexo">
            <input type="text" placeholder="username" ng-model="usuario_crear.username">
            <input type="text" placeholder="password" ng-model="usuario_crear.password">
            <input type="submit" name="" value="Crear Usuario">
        </form>
    </div>



  

<table class="table">
  <thead>


    <tr >
      <th scope="col">ID </th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">sexo</th>
      <th scope="col">username</th>
      <th scope="col">password</th>
    


    </tr>


    <tr ng-repeat="usuario in usuarios">
      
      <td>{{usuario.rowid}}</td>
      <td>{{usuario.nombres}}</td>
      <td>{{usuario.apellidos}}</td>
      <td>{{usuario.sexo}}</td>
      <td>{{usuario.username}}</td>
      <td>{{usuario.password}}</td>
      <td scope="col" class="btn btn-primary" href="" ng-click="veractuausers(usuario)">Modificar</td>
      <td scope="col" class="btn btn-danger" href="" ng-click="elimninaruser(usuario)" >X</td>
    </tr>
  </thead>
  <tbody>
    
    


  
   
  </tbody>
</table>


<div ng-show="modusers">
    <h2>Modificar usuario</h2>
    <form ng-submit="actusers(user_editars)">
      <input type="text" placeholder="Nombre" ng-model="user_editars.nombres">
      <input type="text" placeholder="apellidos" ng-model="user_editars.apellidos">
      <input type="text" placeholder="sexo" ng-model="user_editars.sexo">
      <input type="text" placeholder="username" ng-model="user_editars.username">
      <input type="text" placeholder="password" ng-model="user_editars.password">
      <input type="submit" name="" value="Actualizar usuario">
    </form>
  </div>